*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}


.container{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(66, 60, 55, 0.8),rgba(56, 42, 42, 0)),url(herooo.jpg);
}



form{
    height: 520px;
    width: 400px;
    background-color: rgba(226, 160, 90, 0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8 ,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}




.button {
    display: inline-block;
    background-color: #213032; /* or any color you want */
    color: #fff; /* text color */
    text-decoration: none; /* removes underline from links */
    padding: 13px 30px; /* or any padding you want */
    border: 2px solid black; /* or any border you want */
    font-weight: bold; /* makes the text bold */
    /* other styles to make it look like a button */
}
