*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;

}

.container {
    width: 100%;
    min-height: 110vh; 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(46, 46, 53, 0.8), rgba(56, 42, 42, 0)), url('herooo.jpg');
    padding: 0 15px;
    box-sizing: border-box;
}

form *{
    font-family: 'Poppins',sans-serif;
    color: #fafafa;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form {
    max-height: 170vh;
    width: 400px;
    background-color: rgba(225, 171, 85, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    overflow-y: auto; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder{
    color: #c7c2c2;
}

.logins{
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 0.5px;

}

.signups{
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 0.5px;
}

.button {
    display: inline-block;
    background-color: #213032; 
    color: #fff; 
    text-decoration: none; 
    padding: 13px 30px; 
    border: 2px solid black; 
    font-weight: bold; 
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    color: rgb(255, 255, 255)
}

#gender {
    color:#000000;
}

.form-group select option {
    color:#000000;
}

.form-group input[type="submit"],
.form-group button {
    width: 100%; 
    padding: 30px;
    background-color: #5cb85c;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

@media (max-width: 480px) {
    form {
        width: 90%; 
        padding: 25px 20px; 
    }
}

::placeholder {
    color: #c7c2c2;
    opacity: 1; 
}

input:focus {
    background-color: rgba(255, 255, 255, 0.597);
    border: 1px solid rgba(255,255,255,0.25);
}