* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
width: 100%;
height: 80px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 100px;
background: #8fb6a2;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(herooo.jpg);
    background-position: center;
    background-size: cover;
} 
.logo{
    font-size: 28px;
    font-weight: bold;
    color: #3f4e50;
    margin-right: 40px;
    
}
.nav-bar ul{
    display: flex;
    list-style: none;
}
.nav-bar ul li a{
    display: block;
    color: #edffef;
    font-size: 20px;
    padding: 8px 25px;
    transition: .2s;
    margin: 0 5px;
    text-decoration: none;
}
.nav-bar ul li:hover a{
    background-color: #97a2a3;
    color: #213032;
    cursor: pointer;
}
.content{
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translateY(-50%);

}





h1{
    color: #213032;
    font-size: 55px;
    margin: 20px 0px 20px;

    
}


h2{
        margin: 20px 0px 20px;

    color: black;
    font-size: 55px;
  

    
}

.about-page {
    padding: 20px;
    text-align: center;
}

.about-page h1, .about-page h2 {
    color: #333;
}

.about-page p {
    margin-bottom: 20px;
    font-size: 25px;
}

h3{
    color: #121513;
    font-size: 25px;
    margin-bottom: 50px;
}

.button{
position: absolute;
background-color: #213032;
color: #fff;
text-decoration: none;
border: 2px solid black;
font-weight: bold;
padding: 13px 30px;
transform: .4s;
}
.button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}


.button2{
    position: absolute;
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    padding: 13px 30px;
    transform: .4s;
    margin-left: 230px;
    margin-top: 0px;
    margin-bottom: 200px;
    margin-right: 20px;
}


.button2:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}

















.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #3f4e50;
}
.about img{
    height: auto;
    width: 430px;
    border-radius: 20px 0 20px 0;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about h2{
    color:#edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.about-text p{
    color: #97a2a3;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.about-text{
    width: 500px;
}
/*Recipe Section CSS*/
.recipe{
    width: 100%;
    padding: 100px 0px;
    background-color: #213032;
}
.recipe h2{
    color: #edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
}
.box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.box .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.box .card:hover .content{
    opacity: 1;
}
.card h3{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #213032;
}
.box .card p{
    font-size: 14px;
    margin-bottom: 10px;
}
.box .card button{
    position:relative;
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform:.4s;
    padding: 13px 30px;
 }
 .box .card button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
 }
 /*Categories*/
 .categories{
    width: 100%;
    padding: 100px 0px;
    background-color: #314e52;
 }
 .categories h2{
    color:#edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
 }
 .ca-card{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 5px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
 }
 .box .ca-card .content{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px; 
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
 }
 .box .ca-card:hover .content{
    opacity: 1;
 }
 .ca-card h3{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #213032;
 }
.box .ca-card p{
    font-size: 14px;
    margin-bottom: 10px;
}
.box .ca-card button{
    position:relative;
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform:.4s;
    padding: 13px 30px;
}
.box .ca-card button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}
.box .ca-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Contact form*/
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background: #182f32;
}
.contact-info,.contact-form{
    width: 100%;
    max-width: 400px;
    margin: 20px;
    text-align: center;
    color: #edffef;
    font-size: 25px;
}
.contact-info h2, .contact-form h2{
    font-size: 24px;
    margin-bottom: 20px;
    color: #edffef;
}
.contact-form form{
    text-align: center;
}
.contact-form label, 
.contact-form input , 
.contact-form textarea ,
 .contact-form button {
display: block;
width: 100%;
margin-bottom: 10px;
}
.contact-form button{
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform:.4s;
    padding: 10px 0px;
}
.contact-form button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}
.contact-form label{
    text-align: left;
    color: #edffef;
}
.contact-form input, .contact-form textarea{
    padding: 8px;
}
.contact-info p{
padding: 15px;
}
.social-icons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.social-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    color: #97a2a3;
    text-align: center;
    line-height: 40px;
    font-size: 38px;
}
.social-icon:hover{
    color: #314e52;
    cursor: pointer;
}
footer{
    padding: 20px 0;
    background: #182f32;
}
footer h5{
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    color: #97a2a3;
}


/*categories.html*/


.ca-card {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    margin: 20px; 


}


.ca-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease; 
    border-radius: 50%; 
}




.ca-card .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(3%, -50%); 
    background: rgba(0, 0, 0, 0.5);
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(100% - 20px);
    height: calc(100% - 20px); 
    border-radius: 50%;
    padding: 10px;
}




.ca-card:hover .content {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;

}

.ca-card:hover img {
    transform: scale(1.1); 
}


/*categories pictures*/
.ca-card img.category-image {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    object-fit: cover;
    transition: transform 0.5s ease;
}


.button-link {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.629);
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    font-size: 16px; 
}

.button-link:hover {
    background-color: lightgray;
    color: white;
}


.ca-card a, .ca-card a:visited {
    text-decoration: none; 
    color: inherit; 
}

.ca-card h3, .ca-card p {
    margin: 0; 
    padding: 0; 
    color: black; 
}







/*to subit recipes*/
.recipe-submission-container {
    background: white;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-submission-container h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    font-size: 24px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.form-group button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px; 
}

.form-group button[type="submit"]:hover {
    background-color: #4cae4c;
}


.main-container {
    width: 100%; 
    height: 100%; 
    background-color: #213032;
    margin: 0; 
    padding: 0; 
}
















.container {
    padding: 0 15px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card h5 {
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 0;
}

.table {
    background-color: #fff;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.table thead th {
    background-color: #f8f9fa;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.social-icon {
    color: #fff;
    padding: 0 5px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #007bff;
}

footer h5 {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-md-3, .col-lg-12 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


























.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-profile-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.user-details, .user-recipes {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-details h2, .user-recipes h2 {
    margin-bottom: 10px;
}

#recipeList {
    list-style: none;
}

#recipeList li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#recipeList li:last-child {
    border-bottom: none;
}

@media (min-width: 768px) {
    .container {
        width: 80%;
    }
}



/* Recipe Card Styles */



.recipe-info {
    padding: 15px;
}
 
.recipe-title {
    margin: 0;
    font-size: 20px;
}

.recipe-category {
    color: #666;
}






.recipe-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; 

}

/* Style for recipe images to fit within the card */
.recipe-image, .recipe-image-placeholder {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    display: block; 
    background-color: #f2f2f2; 
    text-align: center;
    line-height: 300px; 
    border: 1px dashed #ccc; 
}

.recipe-image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; 
}
/*  grid layout */
.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    align-items: start; 
}

.recipe-grid .recipe-card.highlighted-recipe {
    border: 5px solid #ffa500;  
    box-shadow: 0 0 30px #ffa500;
} 




.recipe-grid > * {
}



/*profile view*/
.user-info {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
}

.user-info h2 {
    color: #314e52;
    margin-bottom: 15px;
}

.user-info p {
    color: #213032;
    margin: 10px 0;
}

.user-info a {
    display: inline-block;
    background-color: #8fb6a2;
    color: #fff;
    padding: 10px 15px;
    margin: 10px 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.user-info a:hover {
    background-color: #97a2a3;
}

/* Recipes Section Styles */
.recipes {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.recipes h3 {
    color: #314e52;
    margin-bottom: 20px;
}

.recipe {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.recipe:last-child {
    border-bottom: none;
}

.recipe h4 {
    color: #213032;
    font-size: 24px;
}

.recipe p {
    color: #666;
    margin: 10px 0;
}

.recipe a {
    display: inline-block;
    background-color: #8fb6a2;
    color: #fff;
    padding: 8px 12px;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.recipe a:hover {
    background-color: #97a2a3;
}

.button-edit,
.button-delete {
    display: block; 
    width: 100%; 
    margin-top: 10px; 
    text-align: center; 
}

.button-edit {
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 5px; 
}

.button-delete {
    background-color: #a33;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 5px; 
}







/*for edit recipes*/
.button-homepage {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-homepage:hover {
    background-color: #45a049;
}



.logout-form {
    display: inline-block;
    margin-top: 10px; 
}

.logout-button {
    padding: 10px 20px;
    background-color: #f44336; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #d32f2f; 
}
















/*profile view*/
input[type="number"],
input[type="text"],
select,
input[type="submit"],
.button-edit,
.button-delete {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input[type="submit"] {
  background: #3f6b72; 
  color: white;
  border: none;
}

/* Recipes Grid */
.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.recipe-card {
  background: #ffffff;
  border: none; /*
Removing the borders 
padding: 15px;
border-radius: 50%; 
overflow: hidden;
position: relative; */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: box-shadow 0.3s ease;
}

.recipe-card:hover {
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.recipe-title {
font-weight: 700;
margin-bottom: 10px;
text-align: center;
}

footer {
background: #324d5b; 
color: white;
text-align: center;
padding: 10px 0;
}

footer p {
margin: 0;
}

/* Media Queries */
@media (max-width: 768px) {
.nav-bar ul {
flex-direction: column;
}

.nav-bar ul li a {
padding: 10px;
}

header {
text-align: center;
}

.user-info, .recipes, form {
width: 95%;
margin: 20px auto;
}
}

.category-circle {
width: 200px;
height: 200px;
border-radius: 50%;
overflow: hidden;
}

.category-image {
width: 100%;
height: 100%;
object-fit: cover; 
}

.category-circle:hover .category-image {
transform: scale(1.1);
transition: transform 0.3s ease;

}

.nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.nav-bar ul li a {
  display: block;
  color: white;
  font-size: 18px;
  padding: 8px 20px;
  text-decoration: none;
}

.nav-bar ul li a:hover {
  background-color: #1e373d;
  border-radius: 5px;
}

.user-info, .recipes {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 80%; 
}















.container {
    padding: 0 15px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card h5 {
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 0;
}

.table {
    background-color: #fff;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.table thead th {
    background-color: #f8f9fa;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.social-icon {
    color: #fff;
    padding: 0 5px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #007bff;
}

footer h5 {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-md-3, .col-lg-12 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


























.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-profile-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.user-details, .user-recipes {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-details h2, .user-recipes h2 {
    margin-bottom: 10px;
}

#recipeList {
    list-style: none;
}

#recipeList li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#recipeList li:last-child {
    border-bottom: none;
}

@media (min-width: 768px) {
    .container {
        width: 80%;
    }
}



/* Recipe Card Styles */




.recipe-info {
    padding: 15px;
}
 
.recipe-title {
    margin: 0;
    font-size: 20px;
}

.recipe-category {
    color: #666;
}














.recipe-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-image,
.recipe-image-placeholder {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Define the grid layout */
.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
}
.highlighted-recipe,
.highlight {
    background-color: #fdfd96; 
    border: 2px solid #ffa500; 
    box-shadow: 0 0 10px #ffa500; 
}



.recipe-grid > * {
}